@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
  --font-display:"Roboto Condensed", sans-serif;
  --breakpoint-3xl:1920px;
  --color-primary:#2E7D32;  /*Indigo*/
  --color-accent:#8D6E63;    /*Amber*/
}